@media(max-width: 768px){
    .my-row{
        flex-direction: column;
        text-align: center;
    }
    .hero-text, .hero-image{
        width: 100%;
    }
    .sub-title{
        display: flex;
        justify-content: center;
    }
    .btn-parent {
        align-items: center;
    }
    .gallery-grids{
        grid-template-columns: repeat(3, 1fr);
    }
    .tab-none{
        display: none;
    }
    .revase-element{
        flex-direction: column-reverse;
    }
    .spacer{
        height: 30px;
    }
    .service-header .body-1 {
        width: 100%;
    }
}
@media(max-width: 568px){
    .hero-section{
        padding: 50px 0;
    }
    .grids{
        grid-template-columns: 1fr;
    }
    .gallery-grids{
        grid-template-columns: repeat(2, 1fr);
    }
    .sm-none{
        display: none;
    }
}

@media(max-width: 320px){
    .hero-section{
        padding: 50px 0;
    }
    .grids{
        grid-template-columns: 1fr;
    }
}